CompileFlags:
  Add:
    - -xc++
    - -std=c++20
    - -I/Users/damirkazahov/Documents/leapfirst-l2/common/include
    - -I/Users/damirkazahov/Documents/leapfirst-l2/protocol/include
    - -I/Users/damirkazahov/Documents/leapfirst-l2/book/include
    - -I/Users/damirkazahov/Documents/leapfirst-l2/transport/include
    - -I/Users/damirkazахов/Documents/leapfirst-l2/signals/include
    - -I/Users/damirkazahov/Documents/leapfirst-l2/app/include
  CompilationDatabase: build
